 @import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bruno Ace SC';
}

body {
    background: #D6D58E;
}


header{
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    margin: 2rem;
    display: flex;
    justify-content: space-around;
    z-index: 100;
}

.logo {
    width: 80px;
}

.menu a {
    text-decoration: none;
    color: #042940;
    padding: 15px;
    display: inline;
    font-size: large;
}

.menu a:hover {
    color: #D6D58E;
    background: #042940;
    border-radius: 25px;
    padding: 15px;
}

.container_main {
    display: flex;
    justify-content: center;
    width: 100%;
}

.container_main h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #042940;
}

.container_main p {
    width: 100vh;
}

footer {
    display: flex;
    justify-content: center;
    bottom: 0;
    padding: 8%;
}