 @import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bruno Ace SC';
}

body {
    background: #D6D58E;
    width: 100%;
    overflow-x: hidden;
}


header{
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
}

.logo {
    width: 80px;
}

.menu a {
    text-decoration: none;
    color: #042940;
    padding: 1em;
    display: inline;
    font-size: 1em;
}

.menu a:hover {
    color: #D6D58E;
    background: #042940;
    border-radius: 1.5em;
    padding: 1em;
}

.container_main {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.container_main h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    padding: 0.5em;
    margin: 1em;
    color: #042940;
}

.container_main p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 1em;
}

@media(max-width: 600px){
    .menu a {
        display: flex;
        flex-direction: column;
    }

    .container_main p {
        width: 80%;
    }

    .projetos{
        display: none;
    }
}

.projetos {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 1em;
    padding: 1em;
}

footer {
    display: flex;
    justify-content: center;
    padding: 3rem;
    width: 100%;
}
