* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #D6D58E;
    overflow: hidden;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    width: 80px;
}

